  /* // let helloWorld = "Hello World";
 // // console.log(helloWorld);
// // //1:- Input Dictionary will have at least & Mon Sun
// // function solution()({

//    array = {'2020-01-01':4,'2020':4, '2020-01-08':2};


 // )};
// var num={'2020-01-01':4,'2020-01-02':'4,2020-01-03':6,'2020-01-04':8, '2020-01-05':2, 
// }

// const months = ['2020-01-01' '2020-01-02':, '2020-01-03':6, '2020-01-04', '2020-01-05', '2020-01-07', 
// '2020-01-08'];
 
// const newMonth = months.splice(months.length,5,0,"Dec");
// const months = ['jan', 'march', 'April', 'june', 'july'];
// solution :1
//  const newMonth = months.splice(months.length,5,0,"Dec");
// console.log(months);
// const months = ['jan', 'march', 'April', 'june', 'july'];
// solution :1
//  const newMonth = months.splice(months.length,5,0,"Dec");
// console.log(months);
// const months = ['jan', 'march', 'April', 'june', 'july'];
// solution :1
//   const newMonth = months.splice(months.length,5,0,"Dec");
//  console.log(months);
// console.log(months);

// Solve:1, // Input Dictionary will have at least Mon. & Sun.

//  const days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thur', 'fri', 'sat'];
//  const newDay = days.splice(days.length,0,0);
// days.push('Sun','Mon');
// console.log('Sun', 'Mon');

// Sol 2: // Input Dictionary Key is a string within the,
// range[1970-01-01..2100-01-01]; 
/*
const range=['1970-01-01','1980-01-01','1980-01-01', '2100-01-01'];
const newRange = range.splice(range.length,0,0);
console.log('1970-01-01'  ,'....',  '2100-01-01');

// sol 3://
(function() {
  var days = ['-1,000,000','....',1000,000'];
  Date.prototype.getDayName = function() {
  return days[ this.getDay() ];
}

var day = now.getDayName(days)

 */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
.sidebar .cart{
  display: inline-block;
  background: crimson;
  border-radius: 25px;
  font-size:25px;
  padding: 0px 24px;
  margin-top: 250px;
  color: #fff;
  transition: all 0.3s ease;
  margin-left: 30px;
}
.sidebar .cart:hover{
  color:crimson;
  background: none;


}
 
.sidebar a.active {
  background-color: crimson;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: crimson;
  color: white;
}
 .content{
  font-size: 20px;
  text-align: center;
  font-family: 'popins',sans-serif;
  padding: 1px 16px;
  height: 100px;
}
/* teams section Styling */

.teams{
  margin-top: 200px;
  

}
.sidebar .content .teams .carousel .card{
   background: #222; 
  border-radius: 6px;
  padding: 3px 0px;
  text-align: center;
  transition: all 0.3s ease;
  

}
.teams .carousel .card:hover{
   background:crimson;
   height: 200px;
   font-size: 100px;

}

.teams .carousel .card .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  

}
.teams .carousel .card:hover .box{
  transform: scale(1.05);
}
.teams .carousel .card .text{
  font-size: 25px;
  font-weight: 500;
  margin: 0px  0px 0;

}

.teams .carousel .card img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid crimson;
  transition: all 0.3s ease;
}
.teams .carousel .card:hover img{
  border-color: #fff;
}
.owl-dots{
  text-align: center;
  margin-top: 20px;

}
.owl-dots{
  text-align: center;
  margin-top: 20px;
}
.owl-dot{
  height: 13px;
  width: 13px;
  margin:  0 5px;
  outline: none!important;
  border-radius: 50%;
  border: 2px solid crimson!important;
  transition: all 0.3s ease;
}
.owl-dot.active{
  width: 35px;
  border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover{
    background: crimson!important; 
}






@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}